.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.swiper-slide {
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-pagination {
  margin-bottom: 18px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #cacaca;
}

.swiper-pagination-bullet:not(:last-child) {
  margin: 0 !important;
  margin-right: 20px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-white);
}

.hero__container {
  height: 100%;
}

.slide-1 {
  background-image: url("../../img/hero/hero-bg.jpg");
}

.slide-2 {
  background-image: url("../../img/hero/hero-bg-2.jpg");
}

.slide-3 {
  background-image: url("../../img/hero/hero-bg-3.jpg");
}

.hero {
  margin-top: 50px;
  margin-bottom: 57px;
  height: 620px;
}

.hero__content {
  position: absolute;
  padding: 100px 80px;
  z-index: 2;
}

.hero__title {
  font-weight: 800;
  font-size: 70px;
  color: var(--color-white);
  max-width: 837px;
  margin-bottom: 24px;
  line-height: 120%;
}

.hero__text {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-white);
  max-width: 790px;
  margin-bottom: 90px;
  line-height: 120%;
}

.hero__button {
  background: var(--color-orange);
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  color: var(--color-white);
  padding: 24.83px 36.88px;
  border-radius: var(--border-btn);
}

@media (max-width: 1024px) {
  .hero {
    margin: 40px 0 44px;
    height: 665px;
  }
  .hero__content {
    padding: 160px 77px;
  }
  .slide-1 {
    background-image: url("../../img/hero/hero-bg-1024.png");
  }
  .hero__title {
    font-size: 60px;
    margin-bottom: 18px;
  }
  .hero__text {
    font-size: 20px;
    margin-bottom: 61px;
    max-width: 660px;
  }
  .hero__button {
    padding: 25px 39px;
  }
}

@media (max-width: 768px) {
  .hero {
    margin: 40px 0 39px;
  }
  .hero__content {
    padding: 160px 40px;
  }
  .hero__title {
    font-size: 50px;
  }
  .hero__text {
    font-size: 18px;
    margin-bottom: 61px;
    max-width: 563px;
  }
}
